###############################################################################
# CONTACTS.CFG - SAMPLE CONTACT/CONTACTGROUP DEFINITIONS
#
#
# NOTES: This config file provides you with some example contact and contact
#        group definitions that you can reference in host and service
#        definitions.
#
#        You don't need to keep these definitions in a separate file from your
#        other object definitions.  This has been done just to make things
#        easier to understand.
#
###############################################################################

define contact {
    name                            contact-base
    service_notification_period     workhours
    host_notification_period        workhours
    service_notification_options    u,c,r,f
    host_notification_options       d,u,r
    service_notification_commands   notify-service-by-epager
    host_notification_commands      notify-host-by-epager
    register                        0
}

define contact {
    name                            nagios-list
    use                             contact-base
    contact_name                    NagiosList
    alias                           Nagios Email List
    service_notification_options    u,c,r,f
    service_notification_commands   notify-service-by-email
    host_notification_commands      notify-host-by-email
    email                           jamesalton.ut@gmail.com
}

define contact {
    use                             nagios-list
    contact_name                    nagios-list-warnings
    alias                           Nagios Email List - warnings only
    service_notification_options    w
}

define contactgroup {
    contactgroup_name               NagiosList
    alias                           Nagios List
    members                         NagiosList
}

define contact {
    name                            24x7-service
    use                             contact-base
    service_notification_period     24x7
}

define contactgroup {
  contactgroup_name                 linux-first-responder
  members                           JamesA
}

#define contactgroup {
#  contactgroup_name                 linux-second-responder
#  members                           Spencer
#}

define contact {
    use                             contact-base
    contact_name                    JamesA
    alias                           James Alton
    pager                           3852896436@tmomail.net
}

define contactgroup {
    contactgroup_name               JamesA
    alias                           JamesA
    members                         JamesA
}

#define contact {
#    use                             contact-base
#    contact_name                    SpencerG
#    alias                           Spencer Graff
#    pager                           8016375925@tmomail.net
#}
#
#define contactgroup {
#    contactgroup_name               SpencerG
#    alias                           SpencerG
#    members                         SpencerG
#}
